
<h2>Branch: <%= @dojos.branch %></h2>
<h3>Address: <%= @dojos.street %></h3>
<h3>City: <%= @dojos.city %>&nbsp|&nbspState:&nbsp<%= @dojos.state %></h3><br><br>
<a href="/">Home Page</a>&nbsp|&nbsp<a href="/dojos/<%=@dojos.id%>/students">Show Students</a>

